<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ShorecrestMaps.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>20D4449E1F6E3094008753FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>20D444B21F6E3094008753FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>20D444BD1F6E3094008753FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
